@media (max-width: 1279px) {
    .container {
        width: 960px;
    }

    // PREVIEW SECTION
    .section-preview__bottom {
        width: 800px;
        height: 400px;
    }


    // FOOTER
    .footer {
        &__nav-menu {
            flex-direction: column;
        }
    }

    // FOOTER
}

@media (max-width: 991px) {
    .container {
        width: 720px;
    }

    // MAIN SECTION
    .title {
        font-size: clamp(1rem, 1rem + 1vw, 1.5rem);
    }

    .left-wrapper__text {
        margin-bottom: 30px;
    }

    // PREVIEW SECTION
    .section-preview {
        margin-bottom: 60px;
    }

    .section-preview__bottom {
        width: 700px;
        height: 370px;
    }

    // FEEDBACK SECTION 
    .section-feedback__title {
        font-size: clamp(0.7rem, 0.5rem + 1vw, 1.1rem);
    }

    .section-feedback__text {
        font-size: clamp(0.5rem, 0.5rem + 1vw, 0.8rem);
    }

    .section-feedback__feedback-text {
        font-size: clamp(0.9rem, 0.9rem + 0.2vw, 1.3rem);
    }

    .section-feedback__feedback-block {
        padding: 50px 132px 0 132px;
    }


    // SUPPORT SECTION
    .section-support {
        &__text {
            font-size: clamp(0.7rem, 0.7rem + 0.5vw, 0.9rem);
            margin-bottom: 30px;

        }

        &__title {
            margin-bottom: 30px;
        }

        &__content-container {
            align-items: flex-start;
        }
    }
}

@media (max-width: 767px) {
    .container {
        width: 640px;
        padding-inline: 4rem;
    }

    // MAIN SECTION
    .left-wrapper__title {
        margin-bottom: 20px;
    }

    .left-wrapper__text {
        font-size: clamp(0.5rem, 0.5rem + 0.5vw, 1rem);
        margin-bottom: 20px;
    }

    .right-wrapper {
        width: 45%;
    }

    .button {
        border-radius: 0.5rem; // !!!
        padding: 0.35em 1.3em; // !!!!!! 
    }

    // PREVIEW SECTION
    .section-preview__bottom {
        width: 550px;
        height: 300px;
    }

    // FEEDBACK SECTION 
    .section-feedback__feedback-text {
        font-size: clamp(0.8rem, 0.8rem + 0.2vw, 1.2rem);
    }

    .section-feedback__feedback-block {
        padding: 50px 90px 0px 90px;
    }

    .section-feedback__author-image {
        height: 64px;
    }

    // SUPPORT SECTION
    .section-support__content-container {
        gap: 4em; // или больше
        align-items: center;
    }

    .section-support__button {
        font-size: clamp(0.7rem, 0.8rem + 1vw, 1rem);
    }

}


@media (max-width: 575px) {
    .container {
        width: 100%;
        padding-inline: 2rem;
    }

    // MAIN SECTION
    .left-wrapper__title {
        font-size: clamp(0.7rem, 0.8rem + 1vw, 1rem);
        margin-bottom: 15px;
    }

    .left-wrapper__text {
        margin-bottom: 15px;
        font-size: clamp(0.4rem, 0.2rem + 0.5vw, 0.7rem);
    }

    .button {
        font-size: clamp(0.7rem, 0.8rem + 1vw, 1rem);
    }

    // PREVIEW SECTION
    .section-preview__bottom {
        width: 290px;
        height: 170px;
    }

    // FEEDBACK SECTION
    .section-feedback__feedback-block {
        padding: 30px 70px 30px 70px;
    }

    .section-feedback {
        margin-bottom: 40px;
    }

    // SECTION SUPPORT
    .section-support {
        &__title {
            font-size: clamp(1.5rem, 1.5rem + 1vw, 3.75rem);
        }

        &__text {
            font-size: clamp(0.875rem, 0.875rem + 0.5vw, 1rem);
        }

        &__content-container {
            gap: 0;
        }

        &__gif {
            display: none;
        }
        &__left-wrapper{
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__button {
            padding: 15px 30px;
            border-radius: 1rem;
            font-size: clamp(1rem, 0.828rem + 0.83vw, 1rem);
        }
    }

    // FOOTER
    .footer__button-block {
        flex-direction: column;
    }
}